Flask==2.0.3
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
Flask-Migrate==2.7.0
alembic==1.7.5
certifi==2021.10.8
click==8.0.3
colorama==0.4.4
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
numpy==1.21.4
python-dateutil==2.8.2
python-editor==1.0.4
six==1.16.0
SQLAlchemy==1.4.27
